{% extends 'base.html.twig' %}

{% block title %}Formulaire de commande{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mt-4">Modifier la commande</h1>

    {{ form_start(commandeForm) }}
    <div>
        {{ form_label(commandeForm.date_heure_depart) }}
        {{ form_widget(commandeForm.date_heure_depart) }}
    </div>
    <div>
        {{ form_label(commandeForm.date_heure_fin) }}
        {{ form_widget(commandeForm.date_heure_fin) }}
    </div>
    {{form_row(commandeForm.prix_total)}}

    <button class="btn btn-primary mt-2" type="submit">Valider</button>
</div>
{{ form_end(commandeForm) }}
{% endblock %}